nav {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    width: 180px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-style: 16px;
}

.dark-nav {
    background-color: #212ea0;
    transition: 3s;
}

.menu-icon {
    display: none;
}

/* Media Query */
@media (max-width:1000px) {
    .logo {
        width: 140px;
    }

    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width:840px) {
    nav {
        padding: 15px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
        /* display: none; */
    }

    nav ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
        color: white;
    }

    .hide-mobile-menu {
        right: -200px;
    }
}