.programs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 90%; */
    /* background-color: red; */
    /* overflow-x: hidden; */
    margin: 80px auto;
}

.program {
    flex-basis: 31%;
    position: relative;
}

.program img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.caption {
    position: absolute;
    background-color: rgba(0, 15, 152, 0.3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: all 0.8s ease-in-out;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0%;
}

/* Media query */

@media(max-width:650px) {
    .programs {
        flex-direction: column;
    }
    .program {
        flex-basis: 100%;
        margin: 20px;
    }
}